{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COVID-19</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <div class="nav-container">
        <nav>
            <div class="user-name">
                {{user.get_full_name}}
            </div>
            <div class="logout">
                <a href='{% url "logout" %}'>Salir</a>
            </div>
        </nav>
    </div>

    <div class="username" style='display:none' id='username'>{{user.username}}</div>

    <div class="body-container">
        <div class="stats">
            <div class="country">
                <div class="country_container">
                    <select name="country" id="country">
                        <option value="{{user.custom_user.pais}}">{{user.custom_user.pais}}</option>
                        {% for country in countries %}
                        <option value="{{country}}"><a href="#">{{country}}</a></option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="stats-container">
                <div class="stats-total">
                    <div class="casos">Casos</div>
                    <div class="amount">{{total}}</div>
                </div>
                <div class="stats-percentage">
                    <div class="recuperados">
                        <div class="casos">Recuperados</div>
                        <div class="amount">{{recovered}}</div>                
                    </div>
                    <div class="fallecidos">
                        <div class="casos">Fallecidos</div>
                        <div class="amount">{{deaths}}</div>                
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="days10">Ultimos 10 dias: {{new}} casos</div>

    <footer>
        <div class="actualizacion">
            Ult. Actualizacion: {{ update }}
        </div>
    </footer>
</body>
</html>