{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COVID-19</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <div class="nav-container">
        <nav>
            <div class="user-name">
                Rodrigo Maidana
            </div>
            <div class="logout">
                Salir
            </div>
        </nav>
    </div>

    <div class="body-container">
        <div class="stats">
            <div class="country">
                <div class="country_container">
                    <h1>{{pais}}</h1>
                </div>
            </div>

            <div class="stats-container">
                <div class="stats-total">
                    <div class="casos">Casos</div>
                    <div class="amount">{{total}}</div>
                </div>
                <div class="stats-percentage">
                    <div class="recuperados">
                        <div class="casos">Recuperados</div>
                        <div class="amount">{{recuperados}}</div>                
                    </div>
                    <div class="fallecidos">
                        <div class="casos">Fallecidos</div>
                        <div class="amount">{{fallecidos}}</div>                
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="actualizacion">
            Ult. Actualizacion: {{actualizado}}
        </div>
    </footer>
</body>
</html>